* { 
    padding:0px;
	margin:0px;
  }
  img
  {
	height:650px;
	width:630px;
    animation-name:aniimage;
    animation-duration:20s;
    animation-iteration-count:1;
    position:relative;
	top:100px;
	left:100px;
  }
  h1 
  {
    animation-name:anihead;
    animation-duration:20s;
    animation-iteration-count:1;
    position:relative;
	top:10px;
	left:600px;
	color:red;
  }	
  p 
  {
    animation-name:anipara;
    animation-duration:20s;
    animation-iteration-count:1;
    position:relative;
	top:30px;
	left:400px;
	color:blue;
  }	
  .ani 
  {  
    float:right; 
  }
  @keyframes aniimage 
  {
    0% 
     {
	   height:50px;
	   width:50px;
	   top:0px;
	   left:0px;
	 } 
     10% 
	 { 
	   height:100px;
       width:100px;
	   top:10px;
	   left:10px;
     }			 
     20% 
	 { 
	   height:150px;
       width:150px;
	   top:20px;
	   left:20px;
     }			 
     30% 
	 { 
	    height:200px;
        width:200px;
		top:30px;
		left:30px;
     }			 
     40% 
	 { 
	   height:250px;
       width:250px;
	   top:40px;
	   left:40px;
     }
     50% 
	 { 
	   height:300px;
       width:300px;
	   top:50px;
	   left:50px;
     }
     60% 
	 { 
	   height:350px;
       width:350px;
	   top:60px;
	   left:60px;
     }
     70% 
	 { 
	   height:400px;
       width:400px;
	   top:70px;
	   left:70px;
     }
	 80% 
	 { 
	   height:450px;
       width:450px;
	   top:80px;
	   left:80px;
     }			 
     90% 
	 { 
	   height:500px;
       width:500px;
	   top:90px;
	   left:90px;
     }			 
     100% 
	 { 
	   height:650px;
       width:630px;
	   top:100px;
	   left:100px;
     }
  }
  @keyframes anihead
  {
    0% 
	{
       top:0px;
    }
	25%
	{
	  left:100px;
	  color:yellow;
	}  
	50%
	{
      left:200px;
	  color:blue;
	}
	75%
	{
	  left:300px;
	  color:brown;
	}  
	100% 
	{
	  left:550px;
	  color:red;
	}  
  }	
  @keyframes anipara
  {
    0% 
	{
       top:20px;
	   left:0px;
    }
	25%
	{
	    top:20px;
	   left:80px;
	   color:yellow;
	}
    50%
    {
		top:20px;
       left:150px;
	   color:red;
	}
    75%
    {
	   top:20px;
      left:280px;
	  color:brown;
	}	  
	100%
	{
	   top:20px;
	  left:400px;
	  color:blue;
	}  
  }	